<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/com.wudsn.productions.atari800.badapplehd/BadAppleHD/java/com/wudsn/productions/atari800/badapplehd/TileStreamPacker.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.wudsn.productions.atari800.badapplehd.TileStreamPacker"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="C:\jac\system\Atari800\Programming\Demos\BadAppleHD\video\step2\BadAppleHD.hdr&#13;&#10;C:\jac\system\Atari800\Programming\Demos\BadAppleHD\video\step2\BadAppleHD.til&#13;&#10;C:\jac\system\Atari800\Programming\Demos\BadAppleHD\video\step1\BadAppleHD.sb&#13;&#10;C:\jac\system\Atari800\Programming\Demos\BadAppleHD\video\step3\BadAppleHD&#13;&#10;rom,png"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="com.wudsn.productions.atari800.badapplehd"/>
</launchConfiguration>
